<h1>Gossip n° <%= @gossip.id %></h1>
<p>Auteur anonyme:<strong> <%= @gossip.moussaillon %></strong></p>
<p>contenu:  <strong><%= @gossip.content %></strong></p>
<%= link_to "Listes gossips", gossips_path %>
